# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=ohCDWZgNIU0

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [6]:
# create empty list, name it 'a'
a = []

In [7]:
# print the value of a
print(a)

[]

In [8]:
# print the type of a
print(type(a))

<class 'list'>

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [3]:
#code here
p = ['R' ,'Python' ,'SAS' ,'Scala',42]

Print the number of elements in the list

In [4]:
#code here
print(len(p))

5

Using for loop iterate and print all the elements in the list

In [9]:
#code here
p = ['R' ,'Python' ,'SAS' ,'Scala',42]
for i in p:
  print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [10]:
#code here
p = ['R' ,'Python' ,'SAS' ,'Scala',42]
temp=''
for i in range(len(p)):
  if(p[i] =='Python'):
    temp = p[i]
print(temp)

Python

Print the value of temp and type(temp)

In [11]:
#code here
print(temp)
print(type(temp))

Python
<class 'str'>

Using list comprehension, print the last two elemets of list

In [12]:
# code here
p = ['R' ,'Python' ,'SAS' ,'Scala',42]
s =[ i for i in p if i == 'Scala' or i ==42]
print(s)

['Scala', 42]

Append the element 'Java' in the list

In [13]:
#code here
p = ['R' ,'Python' ,'SAS' ,'Scala',42]
p.append('Java')

Remove the element 42 from the list and print the list

In [14]:
#code here(
p.remove(42)
print(p)

['R', 'Python', 'SAS', 'Scala', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [15]:
#code here
colors =['Red','Blue','White']

Append the element 'Black' to colors

In [16]:
#code here
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [17]:
# code here
colors.insert(1,'Orange')

Print the list

In [18]:
# code here
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [20]:
# code here
colors2=['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [21]:
#code here
colors.extend(colors2)

Print len of colors and its elements

In [22]:
# code here
print(len(colors))
print(colors)

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [23]:
# code here
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [26]:
# code here
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [27]:
# code here
sp = sent.split()
print(sp)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [28]:
# code here
words_lower = [i.lower() for i in sp]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [29]:
# code here
if 'country' in words_lower:
  print(True)
else:
  print(False)

False

Remove the element ‘the’ from the list and print the list.

In [30]:
# code here
words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [32]:
#code here
x4 =words_lower[:4]

In [33]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [34]:
#code here
s =" "
s.join(words_lower)
print(s.join(words_lower))

coronavirus caused lockdowns around world.

## 2. Sets

Reference:-https://www.youtube.com/watch?v=sBvaPopWOmQ

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [35]:
#code here
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [36]:
#code here
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [37]:
#code here
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [38]:
#code here
print(sorted(stud_grades_set))

['A', 'B', 'C', 'F']

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [39]:
#code here
print(type(stud_grades) , stud_grades)
print(type(stud_grades_set) , sorted(stud_grades_set))

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> ['A', 'B', 'C', 'F']

Add a new element ‘G’ to stud_grades_set

In [40]:
#code here
stud_grades_set.add('G')
print(stud_grades_set)

{'B', 'F', 'C', 'G', 'A'}

Add element 'F' to stud_grades_set. and print it.

In [41]:
#code here
stud_grades_set.add('G')
print(stud_grades_set)

{'B', 'F', 'C', 'G', 'A'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [42]:
#code here
stud_grades_set.remove('F')
print(stud_grades_set)

{'B', 'C', 'G', 'A'}

Print the elements and the length of stud_grades_set

In [43]:
#code here
print(stud_grades_set)
print(len(stud_grades_set))

{'B', 'C', 'G', 'A'}
4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [44]:
#code here
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [45]:
#code here
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [46]:
#code here
colors_set = set(colors)
fruit_set = set(fruits)
print(colors_set)
print(fruit_set)

{'blue', 'orange', 'red'}
{'orange', 'grapes', 'apples'}

Find the union of both the sets.

In [47]:
#code here
un = colors_set.union(fruit_set)
print(un)

{'orange', 'blue', 'red', 'grapes', 'apples'}

Find the intersection of both the sets

In [48]:
#code here
inter =  colors_set.intersection(fruit_set)
print(inter)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [49]:
#code here
fruit_d = fruit_set.difference(colors_set)
print(fruit_d)

{'grapes', 'apples'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=NI26dqhs2Rk

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [50]:
#code here
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [51]:
#code here
for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [52]:
#code here
for i in range(len(temp)):
  if temp[i] == 17:
    temp[i] =11
  print(temp[i])

11
Virat
50.0

Set temp1 = tuple(temp)

In [53]:
#code here
temp1 = tuple(temp)
print(temp1)

(11, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [54]:
#code here
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [55]:
#code here
for i in range(len(temp1)):
  if (temp1[i] ==11):
    temp1[i] = 17
  print(temp1)

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [56]:
#code here
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [57]:
#code here
print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [58]:
#code here
city2 = ("Chennai", 30.01, 74)

Create cities which consist of city and city2

In [59]:
#code here
cities = (city,city2)

Print cities

In [60]:
#code here
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [61]:
#code here
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [62]:
#code here
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=XCcpzWs-CI4

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [64]:
#code here
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [65]:
#code here
print(d[0])

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [66]:
#code here
print(d['actor'])

amir

Print the type of actor

In [67]:
#code here
print(type(d['actor']))

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [68]:
#code here
l = d['list']
print(l)

[23, 32, 12]

Print the type of l.

In [69]:
#code here
print(type(l))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [70]:
#code here
d1 = {'singer':'Kr$na','album':'Still here','genre':'hip-hop'}

Merge d1 into d.

In [71]:
#code here
d = d.copy()
for key, value in d1.items():
    d[key] = value
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

print d

In [72]:
#code here
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [73]:
#code here
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [74]:
#code here
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [77]:
#code here
for key,value in d.items():
  print("{} -----> {}".format(key,value))

actor -----> amir
animal -----> cat
earth -----> 2
list -----> [23, 32, 12]
singer -----> Kr$na
album -----> Still here
genre -----> hip-hop


Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

Count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [78]:
#code here
sent = "Coronavirus Caused Lockdowns Around The World."
freq = {}
for c in set(sent):
  freq[c] = sent.count(c)
print(freq)

{'s': 3, 'a': 2, 'T': 1, 'u': 3, 'A': 1, 'e': 2, 'k': 1, 'r': 4, 'C': 2, 'o': 6, 'i': 1, 'W': 1, 'd': 4, '.': 1, 'v': 1, 'L': 1, 'l': 1, 'n': 3, ' ': 5, 'h': 1, 'w': 1, 'c': 1}

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------

-----------------
# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

Please fill this feedback form  https://zfrmz.in/MtRG5oWXBdesm6rmSM7N