# <center><u>Pandas <u> </center>

## 1.[Pandas Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html)

resource - https://youtu.be/ymqgwuEM1bQ

<p style='text-align: right;'> 1*4=4 points</p>

Import pandas and numpy with their aliases

In [1]:
import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [56]:
a =pd.Series([100,200,300,400])

Print a, and data type

In [57]:
a

0    100
1    200
2    300
3    400
dtype: int64

Using indexing access the element 300 from the series a.

In [58]:
a[2]

300

What are the values of index for series a?

<p style='text-align: right;'> 2*4 = 8 points</p>

In [59]:
index = ['a','b','c','d']
a = pd.Series([100,200,300,400],index=index)

Change the index to  ['c', 'a', 'b', 'd']

In [60]:
a

a    100
b    200
c    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [61]:
a['d']

400

Sort the values wrt to the index and print it

In [62]:
a.sort_index()

a    100
b    200
c    300
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

<p style='text-align: right;'> 4*2=8 points</p>

In [63]:
b=pd.Series([850,450,100],index =['e','f','g'])
b

e    850
f    450
g    100
dtype: int64

Append b series at the end of a series

In [64]:
a =pd.concat([a,b])

In [65]:
#print a again after appending b into it
a

a    100
b    200
c    300
d    400
e    850
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [66]:
a=a.sort_values(ascending=False)
a

e    850
f    450
d    400
c    300
b    200
a    100
g    100
dtype: int64

In [67]:
# print index of a
a.index

Index(['e', 'f', 'd', 'c', 'b', 'a', 'g'], dtype='object')

## 2. [Pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

Reference:-https://youtu.be/xPgG6_ZFi8Y

<p style='text-align: right;'> 8*2 = 16 points</p>

### Part 1

<p style='text-align: right;'> 5 points</p>

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [89]:
df=pd.DataFrame(a)
df

     0
e  850
f  450
d  400
c  300
b  200
a  100
g  100

Point to ponder! Don't you think series a and dataframe df looks alike? But there must be some difference between them. 
Hey buddy think and write your thoughts below.

In [ ]:
# happy to know your comment

Seires are one dimensional where as dataframe are one dimensional

<p style='text-align: right;'> 2 + 1*4 = 6 points</p>

What is the shape of the datafarme <br>

In [90]:
df.shape

(7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a' ?

In [91]:
df.index

Index(['e', 'f', 'd', 'c', 'b', 'a', 'g'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [92]:
#head
df.head()

     0
e  850
f  450
d  400
c  300
b  200

In [93]:
#tail
df.tail()

     0
d  400
c  300
b  200
a  100
g  100

Rename the columns of the dataframe as 'points'

<p style='text-align: right;'> 2 points</p>

In [94]:
df.columns=['points']
df

   points
e     850
f     450
d     400
c     300
b     200
a     100
g     100

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

<p style='text-align: right;'> 5 points</p>

In [95]:
#Create fruits array
fruits =['orange','mango','apple']
fruits_array = np.random.choice(['orange', 'mango', 'apple'], 7)
fruits_array

array(['orange', 'apple', 'orange', 'mango', 'apple', 'apple', 'mango'],
      dtype='<U6')

The above output might vary based randomness

In [96]:
#Create series fruits out of fruits array
fruits = pd.Series(fruits_array)
fruits

0    orange
1     apple
2    orange
3     mango
4     apple
5     apple
6     mango
dtype: object

Change the index of fruits to the index of dataframe df

<p style='text-align: right;'> 5 points</p>

In [97]:
fruits.index = ['e','f','d','b','a','g','c']
fruits

e    orange
f     apple
d    orange
b     mango
a     apple
g     apple
c     mango
dtype: object

Add this fruits series as a new column to the dataframe df with its column name as 'fruits' <br> print the head of the dataframe to verify

In [98]:
fruits = pd.DataFrame(fruits)
fruits.columns=["fruits"]
df1= pd.concat([df,fruits],axis=1)
df1.head()

   points  fruits
e     850  orange
f     450   apple
d     400  orange
c     300   mango
b     200   mango

<u>Bonus optional question:</u> <br>
What if we had to changed the index of the dataframe? <br>
Try to add any series to the dataframe with the origianl index (when index of series is not same as to the index of dataframe)

Use series as pd.Series([100,200,300,400,500,600,700]) and try to add it to df with column name Bonus_number.

Bonus marks: 5 points

In [102]:
new = pd.Series([100,200,300,400,500,600,700])
new.index = ['e', 'f', 'd', 'b', 'a', 'g', 'c']
new = pd.DataFrame(new)
new.columns = ['Bonus_number']
df2 = pd.concat([df1, new], axis=1)
df2

   points  fruits  Bonus_number
e     850  orange           100
f     450   apple           200
d     400  orange           300
c     300   mango           700
b     200   mango           400
a     100   apple           500
g     100   apple           600

### Part 2
Reference:- https://www.youtube.com/watch?v=yPVQZZmheCg

Create a dataframe  d1 where the columns are  city : [Chandigarh, Delhi, Kanpur, Chennai, Manali ] and Temperature : [15, 22, 20, 26,-2]

<p style='text-align: right;'> 2*5=10 points</p>

In [3]:
dictt = {'city':['Chandigarh','Delhi','Kanpur','Chennai','Manali'],'Temperature':[15,22,20,26,-2]}
d1 = pd.DataFrame(dictt)

Print d1

In [4]:
d1

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [5]:
d1.shape

(5, 2)

Set city = d1['city']

In [6]:
city = d1['city']

print city <br>
What is the type of city.

In [7]:
city

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object

Create another dataframe d2 where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

<p style='text-align: right;'> 3+2+5 = 10 points</p>

In [8]:
d2 = {'city':['Bengalaru','Coimbatore','Srirangam','Pondicherry'],'Temperature':[24,35,36,39]}
d2 = pd.DataFrame(d2)
d2

          city  Temperature
0    Bengalaru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

print the shape of this dataframe

In [113]:
d2.shape

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [9]:
d3 = pd.concat([d1,d2],axis=0)
d3

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
0    Bengalaru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

# fun fact at high level

1. .concat() simply stacks multiple DataFrame together either vertically, or stitches horizontally after aligning on index
2. .merge() first aligns two DataFrame' selected common column(s) or index, and then pick up the remaining columns from the aligned rows of each DataFrame

Do you know about join function? This interesting quest we give to you to find.

Select the part of the dataframe such that it contains cities where temp is less then or equal to 20 <br>
How many cities are there?

<p style='text-align: right;'> 5+5=10 points</p>

In [10]:
d3[(d3['Temperature']<=20)]

         city  Temperature
0  Chandigarh           15
2      Kanpur           20
4      Manali           -2

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [11]:
d3[d3['Temperature']>=35]

          city  Temperature
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

## 3. Applying functions to columns and creating new columns

Reference: https://youtu.be/MxSHDIxm6JA

<p style='text-align: right;'> 20 points</p>

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not. 
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [14]:
# write function here
ut= ['Chandigarh','Pondicherry','Delhi']
d3['is_ut']= d3['city'].isin(ut)

In [15]:
#print d3
d3

          city  Temperature  is_ut
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali           -2  False
0    Bengalaru           24  False
1   Coimbatore           35  False
2    Srirangam           36  False
3  Pondicherry           39   True

The temperatures mentioned in Temperature column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT - 
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [19]:
# write function here
def c_to_f(cels):
  temp = (cels*1.8)+32
  return temp

In [20]:
# check  function c_to_f(10)
temp_c = c_to_f(10)
temp_c

50.0

In [21]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'
d3['temp_farenhiet'] = c_to_f(d3['Temperature'])
d3

          city  Temperature  is_ut  temp_farenhiet
0   Chandigarh           15   True            59.0
1        Delhi           22   True            71.6
2       Kanpur           20  False            68.0
3      Chennai           26  False            78.8
4       Manali           -2  False            28.4
0    Bengalaru           24  False            75.2
1   Coimbatore           35  False            95.0
2    Srirangam           36  False            96.8
3  Pondicherry           39   True           102.2

## 4. Indexing and selecting rows in DataFrame

Reference:-https://youtu.be/TB0pXxTyH6g

<p style='text-align: right;'> 20 points</p>

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [22]:
d1 = d3[d3['is_ut']==True]
d1

          city  Temperature  is_ut  temp_farenhiet
0   Chandigarh           15   True            59.0
1        Delhi           22   True            71.6
3  Pondicherry           39   True           102.2

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [23]:
d1 = d3[d3['temp_farenhiet']>90]
d1

          city  Temperature  is_ut  temp_farenhiet
1   Coimbatore           35  False            95.0
2    Srirangam           36  False            96.8
3  Pondicherry           39   True           102.2

Select only the first three rows of the dataframe d1.

In [26]:
d3.head(3)

         city  Temperature  is_ut  temp_farenhiet
0  Chandigarh           15   True            59.0
1       Delhi           22   True            71.6
2      Kanpur           20  False            68.0

Select all the rows and last two columns in the dataframe.

In [27]:
d3[['is_ut','temp_farenhiet']]

   is_ut  temp_farenhiet
0   True            59.0
1   True            71.6
2  False            68.0
3  False            78.8
4  False            28.4
0  False            75.2
1  False            95.0
2  False            96.8
3   True           102.2

## 5. Reading csv file and group by

Reference: https://youtu.be/e22QpyC_bYo <br>
https://youtu.be/Qm2ohA-f3fU

<p style='text-align: right;'> 2*2=4 points</p>

Read the file 'weather_data.csv' and store it in a pandas dataframe 'df'

In [2]:
df = pd.read_csv("weather_data.csv")

print the shape and head of the dataframe

In [4]:
print(df.shape)
df.head()

(6, 4)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

Group the dataframe wrt to 'event' and save the resulting output in a variable named 'g'

<p style='text-align: right;'> 5*3 = 15 points</p>

In [6]:
g = df.groupby('event')

Print g and  type(g)

In [7]:
print(g)
print(type(g))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f14ce185570>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

Iterate over all the temperatures in g and print them

In [10]:
for i in g:
  print(i)

('Rain',         day  temperature  windspeed event
0  1/1/2017           32          6  Rain
4  1/5/2017           32          4  Rain)
('Snow',         day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow)
('Sunny',         day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
5  1/6/2017           31          2  Sunny)

Use the describle method on g to get the complete description on it.

In [12]:
g.describe()

      temperature                                               windspeed  \
            count  mean       std   min   25%   50%   75%   max     count
event
Rain          2.0  32.0  0.000000  32.0  32.0  32.0  32.0  32.0       2.0
Snow          2.0  26.0  2.828427  24.0  25.0  26.0  27.0  28.0       2.0
Sunny         2.0  33.0  2.828427  31.0  32.0  33.0  34.0  35.0       2.0


      mean       std  min   25%  50%   75%  max
event
Rain   5.0  1.414214  4.0  4.50  5.0  5.50  6.0
Snow   4.5  3.535534  2.0  3.25  4.5  5.75  7.0
Sunny  4.5  3.535534  2.0  3.25  4.5  5.75  7.0

Create a new column in the dataframe df, named 'hot_temp' which contains True if temp is above 30, else False

<p style='text-align: right;'> 5 points</p>

In [20]:
#code here to filter df with above condition
#df.loc[df['temperature']>30,'hot_temp']==True
df['hot_temp'] = df['temperature']>30

In [21]:
# print df
df

        day  temperature  windspeed  event  hot_temp
0  1/1/2017           32          6   Rain      True
1  1/2/2017           35          7  Sunny      True
2  1/3/2017           28          2   Snow     False
3  1/4/2017           24          7   Snow     False
4  1/5/2017           32          4   Rain      True
5  1/6/2017           31          2  Sunny      True

## Data Range

Reference:-https://youtu.be/_gcJfwKElxs

<p style='text-align: right;'> 5*3 = 15 points</p>

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [22]:
a =pd.date_range('2020-01-01','2021-04-01')

print a

In [23]:
a

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

What is the len of a?

In [24]:
len(a)

457

What is the type of a?

In [25]:
type(a)

pandas.core.indexes.datetimes.DatetimeIndex

________________
# Hey high five! You solved the 4th milestone challenge too! Pawri to banti hai ;)
________________