# <center><u> Python basics</u></center>
![image.png](attachment:image.png)

Python is emerging as the popular language used more in data science applications.

Take the case of the tech giant Google that has created the deep learning framework called tensorflow – Python is the primary language used for creating this framework. Its footprint has continued to increase in the environment promoted by Netflix. Production engineers at Facebook and Khan Academy have for long been using it as a prominent language in their environment.

Python became the most popular language in the data science world.
So what are you waiting for? Lets start learning python basic as your first assignment.


Add-on Reference: https://youtu.be/HGOBQPFzWKo

Add-on reference: https://youtu.be/8DvywoWv6fI


## Variable declaration

Covers the topic of variable declaration and type of variables

reference:- https://youtu.be/RVYY7zMiPbg

<p style='text-align: right;'> 1+1+1+1+1 = 5 points</p>

In [2]:
# declare two variables, a = 5, b = 'city'
a = 5
b = 'city'

In [3]:
# print type of a
print(type(a))

<class 'int'>

In [4]:
# print type of b
print(type(b))

<class 'str'>

In [7]:
# swap the values of a and b
a = 'city'
b= 5

In [12]:
# run this to confirm 
print("a =",a," , b =",b)

a = city  , b = 5

Cool! so variable declaration and getting it's type was easy.

## Arithmetic Operations

Hey novice! this will be easy for you until you know basic arithmetic symbols like +, -, /, * etc.

reference:- https://youtu.be/0-hzxfkpHy8

<p style='text-align: right;'> 1 + 7 = 8 points </p>

In [20]:
# declare two variables, a = 24, b = 3

a = 24
b = 3
print('a = {}, b = {}'.format(a,b))

a = 24, b = 3

In [21]:
# calculate and print all the possible numerical operations on a and b (There are total 7 operations)
add = a+b
print("a + b = ", add)
diff = a-b
print("a - b = " ,diff)
mul = a * b
print("a * b = " ,mul)
div = a / b
print("a / b = " ,div)
rem = a % b
print("a % b = " ,rem)
divi = a// b
print("a // b = " ,divi)
cube = a ** b
print("a ^ b = " ,cube)

a + b =  27
a - b =  21
a * b =  72
a / b =  8.0
a % b =  0
a // b =  8
a ^ b =  13824

## Math Functions

Lets do some simple mathematical operations by using math module. Math module contains various mathematical functions. So here we go!

Reference:- https://youtu.be/gktjNyV0xks

Reference document: https://docs.python.org/3/library/math.html
<p style='text-align: right;'> 10 points </p>

In [22]:
import math

In [23]:
# declare a variable x = 2 and y=5.32167
x = 2
y = 5.32167

In [24]:
# Print the maximum value between x and y
print(max(x,y))

5.32167

In [25]:
# Print the minimum value between x and y
print(min(x,y))

2

In [26]:
# Print square and cube of x and store in a and b variable
a = x*x
b = x**3
print(a)
print(b)

4
8

In [29]:
#print log of x and store it in variable c
c= math.log(x)
print(c)

0.6931471805599453

In [30]:
#print minimum value between x,y,a, b and c
print(min(x,y,a,b,c))

0.6931471805599453

In [31]:
#print maximum value between x,y,a, b and c
print(max(x,y,a,b,c))

8

In [33]:
#print the largest integer that is smaller than or equal to c. ie.round down
print(math.floor(c))

0

In [35]:
#print the smallest integer that is greater than or equal to c ie. round up
print(math.ceil(c))

1

## Logical operations

You must be aware of some logical operations you did in college, like 'and', 'or', 'not' etc. These operations becomes even more easy to implement when you have friend like python.

Reference:- https://youtu.be/9w992l9TFIs

<p style='text-align: right;'> 1 + 1 + 1 + 6 = 9 points </p>

In [36]:
# declare two variables, a = True, b = False
a = True
b = False
print(a)
print(b)

True
False

In [37]:
# print type of a and type of b
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

A fun fact for you !
The Python Boolean type is one of Python's built-in data types. It's used to represent the truth value of an expression

In [38]:
# print int(a) and int(b)
print("int of a is", int(a))
print("int of b is", int(b))

int of a is 1
int of b is 0

We are sure you must have seen that, values for 'True' is 1 and for 'False' is 0.

In [39]:
# Find and print the values of not a, not b, a and b, a or b, a and not b
print("not a = ",not(a))
print("not b = ",not(b))
print("a and b = ", a and b)
print("a or b = ", a or b)
print("a and not b = ",a and not(b))

not a =  False
not b =  True
a and b =  False
a or b =  True
a and not b =  True

We hope you tried to undertand the above output!

## List Comprehensions

Hey buddy! Python has really amazing thing called list comprehension. List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. Cool right? Let's dive into this more by doing it. 

Reference:- https://youtu.be/17gTGqHG5xQ

<p style='text-align: right;'> 10 + 10 + 10= 30 points </p>

In [43]:
# Using list comprehension, create a list containing numbers from 1 to 20. 
# Hint: You can use range function of python to do this.
list_comp = [i for i in range(1,21)]
print(list_comp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [44]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even
even_comp = [x for x in range(1,21) if x%2 == 0]
print(even_comp)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the total number of charachters for each corresponding fruits.
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [48]:
fruits = ['banana', 'cherry' ,'avocado','apple']
len_fruits =  [len(x) for x in fruits]

print(fruits)
print(len_fruits)

['banana', 'cherry', 'avocado', 'apple']
[6, 6, 7, 5]

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

Amazing right?

## String value and operators

<p style='text-align: right;'> 1 + 1 + 1 + 1 + 1 = 5 points </p>

### Characters in strings


Reference:- https://www.programiz.com/python-programming/string

Reference:-  https://youtu.be/LnQDWIMaJlA

In [50]:
# declare the variables x = cat and y = dog and print it
x = "cat"
y = "dog"

print(x)
print(y)

cat
dog

In [55]:
#Print first character of both x and y. 
print("First ch of x =",x[0])
print("First ch of y =",y[0])

First ch of x = c
First ch of y = d

In [56]:
#Print last character of both x and y.
print("Last ch of x =",x[-1])
print("Last ch of y =",y[-1])

Last ch of x = t
Last ch of y = g

In [58]:
#Print len of both x and y
print("Length of x is =",len(x))
print("Length of y is =",len(y))

Length of x is = 3
Length of y is = 3

In [59]:
#concatenate both x and y and store it in variable z and print z
z = x+y
print(z)

catdog

In [60]:
#check if x is part of z 
flag  = x in z
print(flag)

True

### String slicing



Hey coder, do you know? Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end

So be ready to implement it today!
<p style='text-align: right;'> 2 points </p>

In [62]:
#Create variable a = “pineapple”
a = "pineapple"
print(a)

pineapple

In [63]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]
print(a[:4])
print(a[4:])

pine
apple

In [64]:
#Convert a into upper case
print(a.upper())

PINEAPPLE

## Dealing with Sentences

<p style='text-align: right;'> 1+1+1+1+1+1 = 6 points </p>

In [68]:
# Declare a sentence of ‘I am flying to London’ and print it
sen = "I am flying to London"
print(sen)

I am flying to London

In [69]:
#Print length of the sentence
print("Len of sentence is",len(sen))

Len of sentence is 21

In [70]:
#Using list indexing, to print the word London
print(sen[15:])

London

In [72]:
# Use .split to get list of individual words in the sentence
sp = sen.split()
print(sp)

['I', 'am', 'flying', 'to', 'London']

In [73]:
# Convert sentence in lower case 
print(sen.lower())

i am flying to london

In [74]:
# Convert sentence in upper case .
print(sen.upper())

I AM FLYING TO LONDON

Great job! Slicing is fun.

## Functions

Declare a function named square, which takes an input as x, and returns the square of x.

Reference:- https://youtu.be/Rpq9MC67M08

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [76]:
def square(x):
  x= x**2
  return(x)

Call the function to find the value of square of 9.

In [77]:
# find the square of 9 using the function square you have just created.
print("Square of 9 is",square(9))

Square of 9 is 81

Wohoo! see, defining function was simple

#### Define another function which checks whether a given is number is odd or even for a given input and it should print whether the  number is odd or even as an output
<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [80]:
# your code here
def check_Even_Odd(num):
  if(num %2 == 0):
    return("{} is even".format(num))
  else:
    return ("{} is odd".format(num))
print(check_Even_Odd(7))

7 is odd

Hey smarty! lets use both the functions together to check whether the square of 3,6 and 21 are odd or even.

In [82]:
 # your code here
ans_1 = check_Even_Odd(square(3))
ans_2 = check_Even_Odd(square(6))
ans_3 = check_Even_Odd(square(21))
print(ans_1)
print(ans_2)
print(ans_3)

9 is odd
36 is even
441 is odd

hey hey! You did a great code. Did you see the benefit of using functions

# Loops and Iterations
Reference:- https://youtu.be/6iF8Xb7Z3wQ

## If statement

<p style='text-align: right;'> 1 + 2 + 3 = 6 points </p>

In [83]:
#Declare a variable x equal to a number of your choice.
#your code here
x =  4
print(x)

4

In [86]:
#Using an if statement, print whether x is zero, positive or negative.
if( x>0):
  print(x,"is positive")
else:
  print(x,"is negative")

4 is positive

In [87]:
# Now Define a function, which takes input from the user and prints whether the given input is zero,positive or negative.
def check_num(num):
  if( num > 0):
    print(num,"is positive")
  else:
    print(num,"is negative")

check_num(10)
check_num(-2)
check_num(0)

10 is positive
-2 is negative
0 is negative

## For loop

<p style='text-align: right;'> 2 points </p>

In [88]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.
x = ["India" ,"Isreal" ,"Canada"]

In [89]:
#Using For loop, iterate over the list and print the elements.
for i in x:
  print(i)

India
Isreal
Canada

<p style='text-align: right;'> 2 points </p>

In [90]:
# Using For loop, print the table of 2.
mul =0
for i in range(2,11):
  mul = 2*i
  print("2 *{} = {}".format(i,mul))

2 *2 = 4
2 *3 = 6
2 *4 = 8
2 *5 = 10
2 *6 = 12
2 *7 = 14
2 *8 = 16
2 *9 = 18
2 *10 = 20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [102]:
#code here
x = [21,"hello","cream",20,19,"village"]
ls = []
for i in x:
  if(type(i) == int):
    ls.append(i)
print(ls)

[21, 20, 19]

Using For loop, lets create a pattern.

<p style='text-align: right;'> 10 points </p>

In [9]:
# print the following pattern
for i in range(0,5):
  for j in range(i+1):
    print("*", end= "")
  print()

*
**
***
****
*****

## While loop

- Using while loop make a function that prints all the values between 1 to n.

<p style='text-align: right;'> 10 points </p>

In [19]:
def counter(n):
 # add your code here
 i=1
 while(i<10):
   print(i)
   i=i+1

In [20]:
counter(10) #this should print numbers from 1 to 10

1
2
3
4
5
6
7
8
9

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [23]:
# your code here
flag = True 
num =5
while(flag):
  print(num)
  num+=5
  if(num>50):
    flag = False
    break

5
10
15
20
25
30
35
40
45
50

Awsesome! Great job so far. Hope you fell in love with python now.

----------------------------------------------------------------------

# Smile, you completed the first milestone :)!!

# Its Feedback Time!

We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

**Please fill this feedback form**
 https://zfrmz.in/MtRG5oWXBdesm6rmSM7N
 
-------------------------------------